.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 32px;
}

.mainContainer {
  display: flex;
  width: 100%;
  max-width: 1376px;
  min-height: 736px;
  border-radius: 30px;
  overflow: hidden;
}

.leftHalf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1;
  background-color: var(--dark-color);
  flex-direction: column;
  justify-content: center;
  padding: 251px 0 163px 96px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  max-width: 517px;
}

.title {
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--background-color);
}

.description {
  font-weight: 400;
  font-size: 28px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: var(--background-color);
}

.getStarted {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-weight: 500;
  font-size: 20px;
  color: var(--background-color);

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 18px 50px;
  width: 230px;
  height: 60px;
  white-space: nowrap;
  transition: border-color 0.2s;
}

.getStarted:hover {
  border-color: var(--background-color);
}

.getStarted:hover .icon {
  transform: rotate(45deg);
}

.icon {
  transition: transform 0.2s;
  flex-shrink: 0;
}

.rightHalf {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image:
    linear-gradient(rgba(18, 20, 23, 0.2), rgba(18, 20, 23, 0.2)),
    url('/img/hero.webp');
  position: relative;
}

.statsBadge {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 284px;
  height: 118px;
  background-color: var(--background-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 16px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.checkIconWrapper {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: var(--dark-color);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.statsText {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.statsLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
}

.statsNumber {
  font-weight: 700;
  font-size: 24px;
  color: var(--foreground-color);
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 100px 20px;
}

.formWrapper {
  width: 100%;
  max-width: 565px;
}
