.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(1px);
}

.modalContent {
  position: relative;
  background-color: var(--background-color);
  border-radius: 30px;
  padding: 64px;
  width: 100%;
  max-width: 566px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0 16px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: opacity 0.4s ease;
}

.closeButton:hover {
  opacity: 0.5;
}
